<div class="container">
  <div class="row">
    <h2> Latest Posts: </h2>
  </div>
  <% @posts.each do |post| %>
    <div class="row">
      <h3><%= post.title %></h3>
      <h5><%= post.content %></h5>
      <p><%= post.updated_at %></p>
    </div>
  <% end %>
</div>
