@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fcfcfc;
  color: #263238;
}

main {
  flex: 1 0 auto;
}

.no-margin {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.brand-logo {
  margin-left: 2rem;
}
